#product.col-sm-6.col-md-4
  =content_tag 'div', id: "#{product.id}", class: 'thumbnail', data: {url: products_url, id: product.id} do
    %ul
      %li=product.name
      %li=product.brand
      %li=product.model
      %li="$#{product_price(product.price)}"
